<h1>Passing data between tabs in Angular</h1>

<div class="btn-container">
  <button
    class="btn"
    [ngStyle]="{ 'background-color': 'red' }"
    (click)="changeColor(colorType.r)"
  >
    Red
  </button>
  <button
    class="btn"
    [ngStyle]="{ 'background-color': 'green' }"
    (click)="changeColor(colorType.g)"
  >
    Green
  </button>
  <button
    class="btn"
    [ngStyle]="{ 'background-color': 'blue' }"
    (click)="changeColor(colorType.b)"
  >
    Blue
  </button>
</div>

<br />
<div>This block is responsible to see color from localStorage</div>

<div
  class="container"
  [ngStyle]="{ 'background-color': backGroundColorViaLocalStorage }"
></div>

<br /><br />

<div>This block is responsible to see color from broadcastChannel</div>
<div
  class="container"
  [ngStyle]="{ 'background-color': backGroundColorViaBroadcastChannel }"
></div>
